<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0"><id>busfly_randomsort</id><name>列表插件(文章排行)</name><url>http://www.busfly.cn/post/z-blog-1-8-randomsort-plugin.html</url><note>列表插件 for Z-BLOG 1.8是一个对ZBLOG现有的文章列表的扩充插件,此插件提供了19种列表,提供了包括(文章排行,随机文章)等多种文章列表,极大的扩充了文章列表以及侧边栏的种类,让你的博客更好的展示文章.甚至可以借助此插件将你的博客改装成小型CMS.&lt;BR /&gt;0.8版中新增加两种列表分类为：各分类最新评论回复列表，各分类热门排行文章列表。此二列表的产生，对于CMS主题来说，可以更好的发挥CMS的功能。</note><author><name>巴士飞扬</name><url>http://www.busfly.cn/</url><email>janrn@163.com</email></author><type>inline</type><path>setting.asp</path><include>include.asp</include><level>1</level><adapted>Z-Blog 1.8</adapted><version>0.8</version><pubdate>2008-1-18</pubdate><modified>2008-10-1</modified></Plugin>
