<?xml version="1.0"?>
<localupgrade>
  <requiredupgrade>20090826170000</requiredupgrade>
  <optionalupgrade>
    <dnt3.0.0>
      <item>20090910141500</item>
    </dnt3.0.0>
    <dnt3.0.0>
      <item>20090929140000</item>
    </dnt3.0.0>
    <dnt3.0.0>
      <item>20091015150000</item>
    </dnt3.0.0>
    <dnt3.0.0>
      <item>20091112150000</item>
    </dnt3.0.0>
  </optionalupgrade>
</localupgrade>