<div class="msgname">
    <span class="comment-quote-icon"><a href="#txaArticle"><img src="<#ZC_BLOG_HOST#>image/common/quote.gif" height="9" width="9" alt="quote" title="quote" /></a></span>
    <a name="cmt<#article/comment/id#>"><#article/comment/count#></a>. <a><#article/comment/name#></a>
</div>

<div class="msgarticle">
    <span class="Gravatar"><img alt="<#article/comment/name#>" src="http://www.gravatar.com/avatar.php?gravatar_id=<#article/comment/emailmd5#>&rating=R&default=<#ZC_BLOG_HOST#>themes/<#ZC_BLOG_THEME#>/style/Seanloo/gravatar.jpg"/></span>
    <span class="Gcontent"><#article/comment/content#></span>
</div>

<div class="msgtime">
    <span class="msgurl"><a href="<#article/comment/urlencoder#>" rel="nofollow" target="_blank"><#article/comment/url#></a></span>
    <#article/comment/posttime#> <a href="#txaArticle" onclick="RevertComment('<#article/comment/id#>')">【回复】</a>
</div>
<div id=inpVerify></div>