<div class="tech_w">
<div class="tech_c">
<div class="tech_c_1_top red"><a href="<#article/url#>"><b>置顶-<#article/title#></b></a></div> 
<div class="tech_c_3"><span class="readmore"><a href="<#article/url#>">【阅读置顶全文】</a></span><#article/posttime/shortdate#>　查阅：<span id="spn<#article/id#>"></span>(<#article/commnums#>)<script language="JavaScript" type="text/javascript">strBatchView+="spn<#article/id#>=<#article/id#>,"</script>　标签：<span class="a_tag"><#template:article_tag#></span>
</div> 
</div> 
</div>