<%template _header%>
<div id="nav">
	<div class="wrap s_clear">
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <strong>密码找回</strong>
	</div>
</div>
<%if {ispost}%>
	<%if page_err==0%>
	<%template _msgbox%>
	<%else%>
	<%template _errmsgbox%>
	<%/if%>
<%else%>
<div class="wrap s_clear" id="wrap">
<div class="main">
<h1>找回密码</h1>
<form id="form1" name="form1" method="post" action="getpassword.aspx#">
	<table cellspacing="0" cellpadding="0" class="formtable" summary="密码找回">
	<tbody>
		<tr>
			<th><label for="username">用户名</label></th>
			<td><input name="username" type="text" id="username" size="25" value="{username}" class="txt" /></td>
		</tr>
		<tr>
			<th><label for="email">EMail</label></th>
			<td><input name="email" type="text" id="email" size="25" class="txt" /></td>
		</tr>
	<%if {isseccode}%>	
		<tr>
			<th><label for="username">验证码</label></th>
			<td>
				<div style="position: relative;">
				<%template _vcode%>
				</div>
		    </td>
		</tr>
	<%/if%>
		<tr>
			<th><label for="question">安全问题</label></th>
			<td>
				 <select name="question" id="question">
					<option value="0" selected="selected">无</option>
					<option value="1">母亲的名字</option>
					<option value="2">爷爷的名字</option>
					<option value="3">父亲出生的城市</option>
					<option value="4">您其中一位老师的名字</option>
					<option value="5">您个人计算机的型号</option>
					<option value="6">您最喜欢的餐馆名称</option>
					<option value="7">驾驶执照的最后四位数字</option>
				  </select>
			</td>
		</tr>
		<tr>
			<th><label for="answer">答案</label></th>
			<td>
			<input name="answer" type="text" id="answer" size="25" class="txt" />
			<p>如果您设置了安全提问，请在此输入正确的问题和回答</p>
			</td>
		</tr>
		<tr>
			<th> </th>
			<td>
				<button name="login" type="submit" id="login" onclick="javascript:location.replace('?agree=yes')" />取回密码</button>
				<button name="cancel" type="button" id="cancel" onclick="javascript:location.replace('/')" />取消</button>
			</td>
		</tr>
	</tbody>
	</table>
</form>
</div>
<%/if%>
<%template _copyright%>
<%template _footer%>